.play-icons {
    margin: 0;
    padding: 0;
}
.icon {
    list-style: none;
}
.rock {
    position:absolute;
    top: 40px;
    left: 150px;
}
.paper {
    position:absolute;
    top: 150px;
    left: 250px;
}
.scissor {
    position:absolute;
    top: 150px;
    left: 50px;
}
.hidden {
    display: none;
}
