body {
    font-family: 'Press Start 2P', cursive;
}
h1 {
    font-size: .9em;
}
.play-icons {
    margin: 0;
    padding: 0;
}
.icon {
    list-style: none;
}
.rock {
    position:absolute;
    top: 50px;
    left: 50px;
}
.paper {
    position:absolute;
    top: 150px;
    left: 50px;
}
.scissor {
    position:absolute;
    top: 250px;
    left: 50px;
}
.hidden {
    display: none;
}
.chat {
    position: absolute;
    bottom: 10px;
}
