<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Rock Paper Scissors</title>
        <link rel="stylesheet" href="../static/css/screen.css" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    </head>
    <body>
    <div class="game-container">
        <div id="status"></div>
        <section class="auth">
            <p><img src="../static/images/Original.png" width="250" height="250" alt="rock papers scissors lizard spock" /></p>
            <p><a href="#" id="browserid" title="Sign-in with BrowserID"><img src="../static/images/sign_in_red.png" alt="Sign in" /></a></p>
        </section>
        <section class="play-board">
            <ul class="play-icons">
                <li class="icon" data-button="rock"><img src="../static/images/rock.png" width="115" height="115" class="rock" /></li>
                <li class="icon" data-button="paper"><img src="../static/images/paper.png" width="115" height="115" class="paper" /></li>
                <li class="icon" data-button="scissor"><img src="../static/images/scissors.png" width="115" height="115" class="scissor" /></li>
            </ul>
            
            <form class="play" style="display:none">
                <input type="submit" value="Send">
            </form>

            <form class="restart" style="display:none">
              <button>Start again</button>
            </form>

            <form class="chat">
                <div id="log"></div>
                <input placeholder="Your name" name="name">
                <input name="message">
                <input type="submit" value="Send">
            </form>
        </section>
    </div>
    <script src="https://browserid.org/include.js" type="text/javascript"></script>
    <script src="https://browserid.org/include.js" type="text/javascript"></script>
    <script src="{{ static_url('libs/sockjs.js') }}"></script>
    <script src="{{ static_url('libs/jquery-1.7.2.min.js') }}"></script>
    <script src="{{ static_url('browserid.js') }}"></script>
    <script src="{{ static_url('play.js') }}"></script>
    <script src="{{ static_url('rpsls.js') }}"></script>
    </body>
</html>
