<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Rock Paper Scissors</title>
        <link rel="stylesheet" href="../static/css/screen.css" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="status"></div>
        <section class="auth">
            <p><img src="../static/images/Original.png" width="250" height="250" alt="rock papers scissors lizard spock" /></p>
            <p><a href="#" id="browserid" title="Sign-in with BrowserID"><img src="../static/images/sign_in_red.png" alt="Sign in" /></a></p>
        </section>
        <ul class="play-icons">
            <li class="icon rock"><img src="../static/images/rock.png" width="75" height="75" />Rock</li>
            <li class="icon paper"><img src="../static/images/paper.png" width="75" height="75" />Paper</li>
            <li class="icon scissor"><img src="../static/images/scissors.png" width="75" height="75" />Scissors</li>
            <li class="icon hidden lizard"><img src="../static/images/lizard.png" width="75" height="75" />Lizard</li>
            <li class="icon hidden spock"><img src="../static/images/spock.png" width="75" height="75" />Spock</li>
        </ul>

    <form class="chat">
        <div id="log"></div>
        <input placeholder="Your name" name="name" style="width:100px">
        <input name="message" style="width:300px">
        <input type="submit" value="Send">
    </form>

    <script src="static/libs/sockjs.js"></script>
    <script src="static/libs/jquery-1.7.2.min.js"></script>
    <script src="{{ static_url('play.js') }}"></script>
    <script src="{{ static_url('rpsls.js') }}"></script>
    </body>
</html>
